@media (max-width: 1200px) {
    /* 993 - 1200 */
    .container {
        max-width: 960px;
    }

    .hero-img{
        width: 100%;
    }
    .get-laptop{
        o
    }
    .feedback-form{
    margin-right: 0;
    }

    .hero-btn{
        margin-top: 10px;
        top: 0;
    }

}

@media (max-width: 992px) {
    /* 769 - 992 */
    .container {
        max-width: 740px;
    }
    .col-4{
        width: 50%;
    }
    .col-3 {
        width: 50%;
    }

    .col-6 {
        width: 100%;
    }

    .space{
        padding: 1px;
        margin-top:450px;

    }

    .get-laptop {
        position: sticky;
        width: 120%;

    }
}

@media (max-width: 768px) {
    /* 577 - 768 */
    .container {
        max-width: 540px;
    }



}

@media (max-width: 576px) {
    /* 320 - 576 */
    .justify-content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .col-3{
        flex-direction: revert;
    }
    .form-control {
        display: block;
        width: 200px;
        margin-left: 0;
        margin-bottom: 16px;
        padding: 6px 18px;

    }
    .col-4{
        width: 50%;
    }

}

