@media (max-width: 1200px) {
    /* 993 - 1200 */
    .container {
        max-width: 960px;
    }

    .hero-img {
        width: 100%;
    }

    .get-laptop {

    }

    .feedback-form {
        margin-right: 0;
    }

    .hero-btn {
        margin-top: 10px;
        top: 0;
    }

    .menu-item {
        padding: 0 10px;
        font-size: 18px;
    }


    .burger {
        display: none;
    }
}

@media (max-width: 992px) {
    /* 769 - 992 */
    .container {
        max-width: 740px;
    }

    .col-4 {
        width: 100%;
    }

    .col-3 {
        width: 50%;
    }

    .col-6 {
        width: 100%;
    }


    .header-container {

        padding: 40px 0 25px 0;
    }

    .get-laptop {
        position: sticky;
        width: 120%;

    }

    .hero-img {
        width: 140%;
    }

    .hero-title {
        font-size: 41px;
        line-height: 53px;
        padding-top: 38px;
    }

    .apps {
        margin-bottom: 10px;
    }

    .settings-title {
        font-weight: 600;
        font-size: 38px;
        line-height: 28px;
        margin-bottom: 14px;
    }

    .settings-subtitle {
        font-size: 17px;
        line-height: 100%;
        margin-bottom: 10px;
    }

    .settings-subtitle-1 {
        font-size: 17px;
        line-height: 111%;
        margin-bottom: 18px;
    }

    .settings-btn {
        padding: 12px 26px;

    }

    .ask {
        padding-left: 14px;
        font-size: 17px;
    }


    .img-servicing {
        width: 100%;
        left: -116px;
        position: sticky;
    }

    .discover-title {
        font-size: 38px;
        line-height: 28px;
        padding-top: 50px;
    }

    .discover-subtitle {
        font-size: 17px;
        line-height: 111%;
    }

    .tick {
        margin-bottom: 12px;
    }

    .serving-title {
        padding-top: 0;
        margin-left: 0;

    }

    .serving-subtitle {
        margin-left: 0;
    }

    .serving-subtitle1 {
        margin-left: 0;
    }

    .info-container {
        padding: 60px 0 50px 0;
    }

    .get-title {
        padding-top: 10px;
        font-size: 30px;
        line-height: 35px;
    }

    .get-subtitle {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 10px;
    }

    .get-btn {
        font-size: 16px;
        line-height: 110%;
        padding: 12px 22px;
        margin-bottom: 39px;
    }


    .price-title {
        font-weight: 600;
        font-size: 38px;
        line-height: 44px;
        color: #021206;
        text-align: center;
    }

    .price-subtitle {
        font-size: 16px;
        line-height: 170%;
        text-align: center;
        color: #021206;
        opacity: 0.7;
        margin-bottom: 10px;
    }

    .plan-input {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

    .save-box {
        margin-bottom: 46px;
    }

    .burger {
        display: none;
    }

    .block-inner {
        width: 400px;
    }

    .info-square {
        margin-left: 50px;
    }


}

@media (max-width: 768px) {
    /* 577 - 768 */
    .container {
        max-width: 540px;
    }

    .burger {
        display: inline-block;
        z-index: 1;
    }

    .menu {
        opacity: 10;
        background-color: rgba(81, 81, 229, 0.6);
        color: #00ff92;
        position: absolute;
        width: 100%;
        height: 460px;
        left: -100%;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.4s;
        overflow-x: hidden;
        z-index: 1;

    }

    .menu.show {
        width: 25vh;
        left: 50%;

    }

    .green-range {
        left: 3px;
        top: 5299px;

    }

    .yellow-range {
        top: 5800px;
    }

}

@media (max-width: 576px) {
    /* 320 - 576 */
    .container {
        max-width: 370px;
    }

    .hero-img {
        width: 70%;
    }

    .block-title {
        margin-bottom: 5px;
        font-size: 17px;
        margin-top: 10px;

    }

    .block-subtitle {
        line-height: 120%;
    }

    .block-inner {
        width: 257px;
        height: 257px;
        text-align: center;
    }

    .icon-1 {
        top: 0;
        left: 0;
        margin: auto;
    }

    .icon-2 {
        top: 0;
        left: 0;
        margin: auto;
    }

    .icon-3 {
        top: 0;
        left: 0;
        margin: auto;
    }

    .icon-4 {
        top: 0;
        left: 0;
        margin: auto;
    }

    .hero-title {
        font-size: 23px;
        line-height: 31px;
        padding-top: 38px;
    }

    .hero-subtitle {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 8px;
    }

    .hero-btn {
        right: 129px;
    }


    .justify-content-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .col-3 {
        flex-direction: revert;
        width: 25%;
    }

    .form-control {
        display: block;
        width: 200px;
        margin-left: 0;
        margin-bottom: 16px;
        padding: 6px 18px;

    }

    .col-4 {
        width: 50%;
    }


    .info-square {
        margin: 50px;

    }

    .settings-title {
        font-weight: 600;
        font-size: 26px;
        line-height: 27px;
        margin-bottom: 12px;
    }


    img {
        width: 80%
    }

    .img-servicing {
        width: 80%;
    }


    .col-7 {
        width: 100%;
    }

    .col-5 {
        width: 100%;
    }

    .hero-title {
        font-size: 23px;
        line-height: 18px;
        padding-top: 10px;
        margin-bottom: 10px;
    }

    .coll {
        height: 250px;
    }

    .plan {
        height: 220px;
    }

    .hero-input {
        width: 60%;
        font-size: 13px;
        line-height: 27px;
        box-shadow: 0 0 21px -4px #000000;
        padding: 9px 100px 9px 17px;
        border: none;
    }


    .hero-btn {
        position: absolute;
        top: 0;
        right: 151px;
        background: #F44545;
        border-radius: 6px;
        font-weight: 500;
        font-size: 10px;
        line-height: 31px;
        color: #FFF;
        padding: 0 22px;
    }


    .header-signIn {
        padding: 5px 11px;
        font-size: 13px;
    }

    .header-auth {
        font-size: 13px;
    }

    .apps {
        width: 68%;

    }

    .center {
        padding-left: 50px;
    }

    .discover-title {
        font-size: 27px;
        line-height: 27px;
        padding-top: 25px;
    }

    .serving-title {
        font-size: 27px;
        line-height: 27px;
        margin-bottom: 10px;
    }

    .serving-subtitle {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 10px;

    }
    .serving-subtitle1{
        font-size: 16px;
        line-height: 120%;

    }

    .tick p {
        font-size: 16px;
    }
    .green-range{
        display: none;
    }
    .yellow-range{
        display: none;
    }
    .slider:before {
        height: 11px;
        width: 11px;
        top: 4px;
        left: 8px;

    }

    .switch {
        width: 40px;
        height: 20px;
    }

    .save-content {
        font-size: 16px;
    }

    .holder{
        width: 350px;
        margin: 0 auto;
    }
    .title-pricing {
        padding-top: 30px;
        margin-bottom: 12px;
        font-size: 16px;
    }

    .pricing {
        font-size: 28px;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .price img {
        width: 20px;
        height: 20px;
    }

    .contain {
        padding: 0 0 0 8px;
    }

    .yes-or-no{
        padding-right: 10px;
    }

    .btn {
        padding: 4px 50px;
        font-size: 18px;
        line-height: 43px;
    }
    .col-3{
        width: 100%;
    }

    .footer img{
        width: 55%;
    }
    .footer .container{
        padding: 0;
    }

    .footer p{
        margin-bottom: 10px;
    }

    .link{
        margin-bottom: 5px ;
    }
    .price-container {
        padding: 30px 0 0 0;
    }
    input[type=range] + label {
        left: calc(50% - 25px);
        width: 50px;
    }
}

x`