* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    color: #021206;
    overflow-x: hidden;
}

button {
    border: none;
}


a, a:hover {
    text-decoration: none;
    color: inherit;
}


.container {
    width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-container {

    padding: 50px 0 123px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    position: relative;

}

.header .row {
    align-items: center;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}

.col-4 {
    width: 33.33333%;
    padding: 0 15px;
}

.col-5 {
    width: 41.66666%;
    padding: 0 15px;
}

.col-6 {
    width: 50%;
    padding: 0 15px;
}


.col-7 {
    width: 58.33333%;
    padding: 0 15px;
}

.logo {
    padding-left: 20px;
}

.menu {
    text-align: center;
    opacity: 0.5;
}

.menu-item {
    padding: 0 22px;
    font-size: 18px;
}

.header-auth {
    text-align: right;
    font-size: 18px;
}

.header-signIn {
    padding: 15px 30px;
    border-radius: 6px;
    color: #fff;
    background-color: #F44545;
}

.header-signIn:hover {
    color: #fff;
    background-color: #ff0000;
    transition: 0.4s;
}

.header-login {
    opacity: 0.7;
    padding-right: 23px;

}

.hero-title {
    font-weight: 600;
    font-size: 54px;
    line-height: 81px;
    padding-top: 47px;
}

.hero-title span {
    color: #3EFFC0;
    margin-bottom: 25px;
}

.hero-subtitle {
    font-weight: 300;
    font-size: 21px;
    line-height: 33px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.hero-subtitle span {
    font-weight: 500;
}

.hero .feedback-form {
    margin-bottom: 35px;

}
.feedback-form{
    position: relative;
    margin-right: 77px;
}

.hero-input {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    opacity: 0.5;
    border-radius: 6px;
    box-shadow: 0 0 21px -4px #000000;
    padding: 19px 135px 19px 24px;
    border: none;
}


.hero-btn {
    position: absolute;
    top: 6px;
    right: 6px;
    background: #F44545;
    border-radius: 6px;
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    color: #FFF;
    padding: 11px 33px;
    border: none;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: #fd0000;
}

.apps {

}

.hero-apple {
    padding-left: 30px;
}

.multiplication {
    background-color: rgba(142, 230, 201, 0.1);
    padding: 55px 0;
}

.multi {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.info-container {
    padding: 110px 0 200px 0;
}


.icon-1 {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    box-shadow: 1px 5px 30px rgb(215 21 21 / 50%);
    background: linear-gradient(
            141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.icon-2 {
    width: 75px;
    height: 75px;
    left: 504px;
    top: 1116px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 10px;
}

.icon-3 {
    width: 75px;
    height: 75px;
    left: 192px;
    top: 1436px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
    border-radius: 10px;
}

.icon-4 {
    width: 75px;
    height: 75px;
    left: 504px;
    top: 1436px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
    border-radius: 10px;
}

.settings-img {
    margin-bottom: 143px;
}

.settings-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    color: #021206;
    margin-bottom: 20px;
}

.settings-subtitle {
    font-size: 18px;
    line-height: 160%;
    color: #021206;
    opacity: 0.7;
    margin-bottom: 16px;
}

.settings-subtitle-1 {
    font-size: 18px;
    line-height: 160%;
    color: #021206;
    opacity: 0.7;
    margin-bottom: 29px;
}

.settings-subtitle-1 span {
    font-weight: 600;
}

.settings-btn {
    padding: 15px 40px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    background: #282323;
}

.settings-btn:hover {
    background-color: #0c0b0b;
}

.ask {
    padding-left: 25px;
    color: #FF4D4D;
    font-size: 18px;
}

.ask:hover {
    color: #ec1313;
    transition: 0.4s;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 70px;
}

.discover-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    color: #021206;
    margin-bottom: 20px;
    padding-top: 100px;
}

.discover-subtitle {
    font-size: 18px;
    line-height: 160%;
    color: #021206;
    opacity: 0.7;
    margin-bottom: 20px;
}

.tick {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;

}

.tick p {

    padding-left: 11px;
    opacity: 0.7;
    font-weight: 400;
    font-size: 18px;

}

.plan {

    width: 594px;
    height: 463px;
    left: 680px;
    top: 1801px;
}

.statistics {

    width: 591px;
    height: 440px;
    left: -15px;
    top: 2400px;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.serving-title {
    padding-top: 110px;
    margin-left: 60px;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    color: #021206;


}

.serving-subtitle {
    margin-left: 60px;
    font-size: 18px;
    line-height: 160%;
    color: #021206;
    opacity: 0.7;
}

.serving-subtitle1 {
    font-size: 18px;
    line-height: 160%;
    color: #021206;
    opacity: 0.7;
    margin-left: 60px;
}

.download {
    background: #8EE6C9;
    opacity: 0.1;;
}

.download-container {
    padding: 0 91px;
}


.block-inner {
    border: 1px solid rgba(2, 18, 6, 0.1);
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: #FFF;
    transition: 0.5s;

}

.block-inner:hover {
    box-shadow: 0 15px 65px rgba(65, 77, 68, 0.15);
}


.img-servicing {
    position: absolute;
    left: -150px;
    direction: ltr;
}

.get-software {
    background: rgba(142, 230, 201, 0.1);

}

.get-title {
    padding-top: 91px;
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
}

.get-subtitle {

    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.get-btn {
    font-weight: 500;
    font-size: 20px;
    line-height: 160%;
    padding: 15px 33px;
    background-color: #F44545;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 91px;
}

.get-btn:hover {
    background-color: #ff0000;
    transition: 0.4s;
}

.get-software.row {
    position: relative;
}

.get-laptop {
    position: absolute;
    bottom: 0;
    right: -250px;

}

.price-container {
    padding: 110px 0 120px 0;
}

.price-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 67px;
    color: #021206;
    text-align: center;
}

.price-subtitle {
    font-size: 18px;
    line-height: 170%;
    text-align: center;
    color: #021206;
    opacity: 0.7;
    margin-bottom: 36px;
}

.price-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.plan-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.plan-input p {
    font-weight: 500;
    padding: 0 15px;
    font-size: 20px;
    line-height: 16px;
    color: #4E5951;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 3px;
}

input:checked + .slider {
    background-color: #43DDAA;
}

input:focus + .slider {
    box-shadow: 0 0 1px #43DDAA;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 28px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #43DDAA;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 6px;
}

input {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 16px;
    top: 5px;
    left: 8px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;

}

.save-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 85px;

}

.pointer svg {
    margin: 0 15px 15px;
}


.save-content {
    color: #021206;
    opacity: 0.7;
    font-size: 18px;
    line-height: 170%;
    margin-left: 60px;
}


.range-container {
    position: relative;
}

input[type=range] {
    width: 100%;
    margin: 18px 0;
    -webkit-appearance: none;
}

input[type=range] + label {
    background-color: #000;
    color: #fff;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    padding: 5px 0;
    position: absolute;
    top: -40px;
    left: calc(50% - 40px);
    text-align: center;
    width: 80px;
}

input[type=range]:active {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: 8px;
}

input[type=range]::-webkit-slider-thumb {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    background-blend-mode: luminosity;
    mix-blend-mode: normal;
    border: 3px solid #FFFFFF;
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 10px;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin-top: -7px;
    -webkit-appearance: none;
}

input[type=range]:active::-webkit-slider-runnable-track {
    opacity: 0.8;
}

input[type=range]::-moz-range-track {
    animate: 0.2s;
    background-color: #68d0aa;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 8px;
}

input[type=range]::-moz-range-thumb {
    background: #68d0aa;
    border-radius: 50%;
    border: 1px solid #7ac4a8;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

input[type=range]::-ms-track {
    animate: 0.2s;
    background-color: #68d0aa;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 8px;
}

input[type=range]::-ms-thumb {
    background: #68d0aa;
    border-radius: 50%;
    border: 1px solid #68d0aa;
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0;
    box-sizing: border-box;
}

input[type=range]:active::-ms-fill-lower {
    background: #68d0aa;
}

input[type=range]:active::-ms-fill-upper {
    background: #68d0aa;
}


.range-container {
    margin-bottom: 93px;
}

.yellow-range {
    position: absolute;
    left: -22px;
    top: 4103px;

}

.green-range {
    position: absolute;
    left: 1163px;
    top: 3903px;
}

.holder {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: 0.4s;

}

.holder:hover {
    box-shadow: 0 20px 100px rgba(2, 18, 6, 0.15);
}

.title-pricing {
    color: rgba(2, 18, 6, 0.5);
    text-transform: uppercase;
    padding-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}

.pricing {
    text-align: center;
    font-weight: 600;
    font-size: 43px;
    line-height: 100%;
    margin-bottom: 37px;
}

.pricing-box {
    display: flex;
    justify-content: space-between;
    padding: 22px 29px;
    border-top: 1px solid rgba(1, 18, 18, 0.1);

}

.box-in-box {
    display: flex;
    justify-content: space-between;
}

.contain {
    padding: 0 77px 0 8px;

}

.contain s {
    color: #021206;
    opacity: 0.5;;
}

.yes-or-no s {
    color: #021206;
    opacity: 0.5;;
}

.buy-plan {
    border-top: 1px solid rgba(1, 18, 18, 0.1);
    padding: 35px 0;
}

.btn {
    padding: 13px 76px;
    display: flex;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 0;
    margin: auto;
    background-color: transparent;
    border: 2px solid rgba(244, 69, 69, 0.2);
    color: #F44545;
    font-size: 20px;
    line-height: 34px;
    box-sizing: border-box;
    border-radius: 6px;
    transition: 0.6s;
    cursor: pointer;
}

.btn:hover {
    background-color: #F55454;
    color: #fff;
}

.footer {
    background: rgba(142, 230, 201, 0.1);
}

.footer-container {
    padding: 52px 0 57px 0;
}


.footer-logo {

    margin-bottom: 20px;
    font-size: 16px;
    Line-height: 25px;

}

.footer-p{
    color: #021206;
    opacity: 0.7;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 21px;
    color: #021206;
    opacity: 0.7;
}

.link {
    font-weight: 400;
    margin-bottom: 10px;
    color: #021206;
    opacity: 0.7;
    font-size: 16px;

}




